.navigation{
    height: 100px;
    position: fixed;
    width: 100%;
    

}
.navlist li{
    text-decoration: none;
    color: black;
    list-style-type: none;
    
}
.navlist{
    margin-top: 10px;
}

.call{
 margin-left: 50px;  
  
}
.calldiv{
    margin-top: 10px;
}
